.summary-report,
.calculator,
.unit-container {
	width: 100%;
}

.calculator {
	background-color: #121212;
	color: #E0E0E0;
	padding: 1.25rem;
	border-radius: 1.5625rem;
}


.summary-report {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-top: 6.25rem;
	margin-bottom: 9.375rem;
}

.unit-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 1.25rem;
}

.weight,
.height {
	width: 80%;
	height: 1.875rem;
	background-color: #333333;
	color: #E0E0E0;
	border: none;
	border-radius: 0.625rem;
	margin: 0.3125rem auto auto auto;
	padding-left: 0.9375rem;
	margin-bottom: 0.4375rem;
}

.error-message {
	color: red;
	font-weight: 600;
}


.weight-label,
.height-label {
	align-self: flex-start;
	color: #fff;
	margin: 0 auto;
	font-size: 1.125rem;
}

.calculate-btn,
.result {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.625rem;
	background-color: #646d70;
	color: #fff;
	margin: 0.625rem auto;
}

.result {
	font-size: 1.125rem;
	margin: 0.625rem auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 1.875rem;
}

.result-field {
	font-weight: normal;
}

.calculate-btn {
	height: 2.5rem;
	background-color: #333333;
	color: #E0E0E0;
}

.calculate-btn-reload {
	margin-top: 0.9375rem;
}

input[type="text"]::-webkit-outer-spin-button,
input[type="text"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="text"] {
	-moz-appearance: textfield;
}

@media (max-width: 36rem) {

	.weight,
	.height {
		font-size: 16px;
	}

	.result {
		font-size: 14px;
		height: 2.5rem;
	}
}

@media (min-width: 36rem) and (max-width: 48rem) {

	.weight,
	.height {
		font-size: 16px;
	}

	.result {
		font-size: 16px;
		height: 2.5rem;
	}

}

@media (min-width: 48rem) and (max-width: 62rem) {

	.weight,
	.height {
		font-size: 16px;
	}

	.result {
		font-size: 18px;
		height: 2.5rem;
	}

	form {
		max-width: 50rem;
	}

	.result,
	.calculate-btn-reload {
		max-width: 48.5625rem;
	}

}


@media (min-width: 62rem) and (max-width: 75rem) {

	.weight,
	.height {
		font-size: 16px;
	}

	.result {
		font-size: 18px;
		height: 3.125rem;
	}

	form {
		max-width: 50rem;
	}

	.result,
	.calculate-btn-reload {
		max-width: 48.5625rem;
	}

}

@media (min-width: 75rem) {

	.weight,
	.height {
		font-size: 16px;
	}

	.result {
		font-size: 20px;
		height: 3.125rem;
	}

	form {
		max-width: 50rem;
	}

	.result,
	.calculate-btn-reload {
		max-width: 48.5625rem;
	}
}