<<<<<<< HEAD
.App-main {
	width: 100%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: linear-gradient(180deg, rgba(15, 155, 150, 1) 0%, rgba(41, 24, 126, 1) 100%);
}

.title {
	width: 80%;
	text-align: center;
	margin: 1.875rem 0;
	font-size: 1.25rem;
	color: #fff;
}

@media (max-width: 36rem) {
	.title {
		font-size: 20px;
	}
}

@media (min-width: 36rem) and (max-width: 48rem) {
	.title {
		font-size: 24px;
	}
}

@media (min-width: 48rem) and (max-width: 62rem) {
	.title {
		font-size: 28px;
	}

	.open-calculator {
		max-width: 48.5625rem;
	}
}

@media (min-width: 62rem) and (max-width: 75rem) {
	.title {
		font-size: 32px;
	}

	.open-calculator {
		max-width: 48.5625rem;
	}
}

@media (min-width: 75rem) {
	.title {
		font-size: 36px;
	}

	.open-calculator {
		max-width: 48.5625rem;
	}
=======
.App-main {
	width: 100%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: linear-gradient(180deg, rgba(15, 155, 150, 1) 0%, rgba(41, 24, 126, 1) 100%);
}

.title {
	width: 80%;
	text-align: center;
	margin: 1.875rem 0;
	font-size: 1.25rem;
	color: #fff;
}

@media (max-width: 36rem) {
	.title {
		font-size: 20px;
	}
}

@media (min-width: 36rem) and (max-width: 48rem) {
	.title {
		font-size: 24px;
	}
}

@media (min-width: 48rem) and (max-width: 62rem) {
	.title {
		font-size: 28px;
	}

	.open-calculator {
		max-width: 48.5625rem;
	}
}

@media (min-width: 62rem) and (max-width: 75rem) {
	.title {
		font-size: 32px;
	}

	.open-calculator {
		max-width: 48.5625rem;
	}
}

@media (min-width: 75rem) {
	.title {
		font-size: 36px;
	}

	.open-calculator {
		max-width: 48.5625rem;
	}
>>>>>>> 32af816a3f995559d27eabab18c5f105ee8f9ad3
}